{% extends 'base.html' %}
{% block content %}
<section id="showcase-inner" class="py-5">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-12">
                <h1 class="display-4">User Dashboard</h1>
                <p class="lead">Window to your Game On! world</p>
            </div>
        </div>
    </div>
</section>
<section id="dashboard" class="py-4">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>Welcome, {{ user.first_name }}!</h2>

            </div>
        </div>
    </div>
</section>
{% endblock %}